packages/backend/serverless.yml
service: payment-test

frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  memorySize: 512
  timeout: 300
  environment:
    STAGE: ${self:provider.stage}
    REGION: ${self:provider.region}
    DYNAMODB_TABLE_PREFIX: ${self:provider.stage}
    SNS_TOPIC_ARN: !Ref PaymentsTopic
    SQS_QUEUE_URL: !Ref PaymentsQueue
    STEP_FUNCTION_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WompiPaymentProcessor-${self:provider.stage}"
    WOMPI_API_URL: ${env:WOMPI_API_URL, 'https://api-sandbox.co.uat.wompi.dev/v1'}
    WOMPI_PUBLIC_KEY: ${env:WOMPI_PUBLIC_KEY}
    WOMPI_PRIVATE_KEY: ${env:WOMPI_PRIVATE_KEY}
    WOMPI_INTEGRITY_SECRET: ${env:WOMPI_INTEGRITY_SECRET}
    PAYMENT_POLLING_INTERVAL_MS: ${env:PAYMENT_POLLING_INTERVAL_MS, '10000'}
    PAYMENT_POLLING_MAX_DURATION_MS: ${env:PAYMENT_POLLING_MAX_DURATION_MS, '120000'}
    FRONTEND_URL: ${env:FRONTEND_URL, 'd2iz29zdtykupj.cloudfront.net'}
    LOG_LEVEL: ${env:LOG_LEVEL, 'debug'}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:BatchGetItem
            - dynamodb:BatchWriteItem
          Resource:
            - "arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE_PREFIX}-*"
            - "arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE_PREFIX}-*/index/*"
        - Effect: Allow
          Action:
            - sns:Publish
          Resource:
            - !Ref PaymentsTopic
        - Effect: Allow
          Action:
            - sqs:SendMessage
            - sqs:ReceiveMessage
            - sqs:DeleteMessage
            - sqs:GetQueueAttributes
          Resource:
            - !GetAtt PaymentsQueue.Arn
        - Effect: Allow
          Action:
            - states:StartExecution
            - states:DescribeExecution
            - states:StopExecution
          Resource:
            - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WompiPaymentProcessor-${self:provider.stage}"

package:
  patterns:
    - '!**'
    - 'dist/**'

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

custom:
  dotenv:
    path: .env
    basePath: ./
    include:
      - WOMPI_PUBLIC_KEY
      - WOMPI_PRIVATE_KEY
      - WOMPI_INTEGRITY_SECRET
      - WOMPI_API_URL
      - PAYMENT_POLLING_INTERVAL_MS
      - PAYMENT_POLLING_MAX_DURATION_MS
      - FRONTEND_URL
      - LOG_LEVEL

functions:
  api:
    handler: dist/main.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
      - http:
          path: /
          method: ANY
          cors: true

  validateTransaction:
    handler: dist/payments/lambdas/step-functions-handlers.validateTransactionHandler
    timeout: 300

  processPayment:
    handler: dist/payments/lambdas/step-functions-handlers.processPaymentHandler
    timeout: 300

  updateInventory:
    handler: dist/payments/lambdas/step-functions-handlers.updateInventoryHandler
    timeout: 300

  compensateTransaction:
    handler: dist/payments/lambdas/step-functions-handlers.compensateTransactionHandler
    timeout: 300

resources:
  Resources:
    # ProductsTable: Tabla DynamoDB para productos
    # Campos de la entidad Product:
    # - id (String): ID único del producto (clave primaria)
    # - name (String): Nombre del producto
    # - description (String): Descripción del producto
    # - price (Number): Precio en centavos
    # - imageUrl (String): URL de la imagen
    # - categoria (String): Categoría del producto (indexado en GSI)
    # - metadata (Map): Metadatos adicionales del producto
    # - rating (Number): Valoración del producto (1-5)
    # - createdAt (String): Fecha de creación (ISO 8601)
    # - updatedAt (String): Fecha de actualización (ISO 8601)
    ProductsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-products
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: categoria
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: categoria-index
            KeySchema:
              - AttributeName: categoria
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    TransactionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-transactions
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: idempotencyKey
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: idempotencyKey-index
            KeySchema:
              - AttributeName: idempotencyKey
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    InventoryTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-inventory
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: productId
            AttributeType: S
        KeySchema:
          - AttributeName: productId
            KeyType: HASH
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    EventStoreTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-event-store
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: aggregateId
            AttributeType: S
          - AttributeName: eventTimestamp
            AttributeType: N
        KeySchema:
          - AttributeName: aggregateId
            KeyType: HASH
          - AttributeName: eventTimestamp
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: eventType-index
            KeySchema:
              - AttributeName: eventTimestamp
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    PaymentsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-payments-queue
        VisibilityTimeout: 300
        MessageRetentionPeriod: 1209600
        RedrivePolicy:
          deadLetterTargetArn: !GetAtt PaymentsDLQ.Arn
          maxReceiveCount: 3

    PaymentsDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-payments-dlq
        MessageRetentionPeriod: 1209600

    PaymentsTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:provider.environment.DYNAMODB_TABLE_PREFIX}-payments-events
        DisplayName: Wompi Payments Events

    PaymentProcessorStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: WompiPaymentProcessor-${self:provider.stage}
        DefinitionString:
          Fn::Sub:
            - |
              {
                "Comment": "Wompi Payment Processing Workflow",
                "StartAt": "ValidateTransaction",
                "States": {
                  "ValidateTransaction": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${ValidateTransactionArn}",
                      "Payload.$": "$"
                    },
                    "Next": "ProcessPayment"
                  },
                  "ProcessPayment": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${ProcessPaymentArn}",
                      "Payload.$": "$"
                    },
                    "Next": "UpdateInventory",
                    "Catch": [{
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.error",
                      "Next": "CompensateTransaction"
                    }]
                  },
                  "UpdateInventory": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${UpdateInventoryArn}",
                      "Payload.$": "$"
                    },
                    "Next": "CompleteTransaction",
                    "Catch": [{
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.error",
                      "Next": "CompensateTransaction"
                    }]
                  },
                  "CompleteTransaction": {
                    "Type": "Succeed"
                  },
                  "CompensateTransaction": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${CompensateTransactionArn}",
                      "Payload.$": "$"
                    },
                    "End": true
                  }
                }
              }
            - ValidateTransactionArn:
                Fn::GetAtt:
                  - ValidateTransactionLambdaFunction
                  - Arn
              ProcessPaymentArn:
                Fn::GetAtt:
                  - ProcessPaymentLambdaFunction
                  - Arn
              UpdateInventoryArn:
                Fn::GetAtt:
                  - UpdateInventoryLambdaFunction
                  - Arn
              CompensateTransactionArn:
                Fn::GetAtt:
                  - CompensateTransactionLambdaFunction
                  - Arn
        RoleArn: !GetAtt StepFunctionRole.Arn

    StepFunctionRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: states.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: StepFunctionExecutionPolicy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource: "*"
